        * { box-sizing: border-box; margin: 0; padding: 0 }
        html, body { height: 100% }
        body {
          font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
          line-height: 1.4;
          color: #222;
          background: #f6f7fb
        }